<div class="html alarm visible">
	<div class="forecast clearfix">
		<div class="datetime pull-left bounceInLeft animated">
			<div class="day">星期三</div>
			<div class="date">June 18, 2015</div>
		</div>
		<div class="temperature pull-right bounceInRight animated">
			<div class="unit"><span class="ion-ios-sunny-outline"></span> 34<i>&deg;</i></div>
			<div class="location">Kathmandu, Nepal</div>
		</div>
	</div>
	<div class="alarm-list">
		<div class="note clearfix slideInRight animated">
			<div class="time pull-left">
				<div class="hour">9</div>
				<div class="shift">AM</div>
			</div>
			<div class="to-do pull-left">
				<div class="title">Finish HTML Coding</div>
				<div class="subject">Web UI</div>
			</div>
		</div>
		<div class="note clearfix slideInRight animated">
			<div class="time pull-left">
				<div class="hour">1</div>
				<div class="shift">PM</div>
			</div>
			<div class="to-do pull-left">
				<div class="title">Lunch Break</div>
				<div class="subject"></div>
			</div>
		</div>
		<div class="note clearfix slideInRight animated" data-revert="slideOutRight">
			<div class="time pull-left">
				<div class="hour">3</div>
				<div class="shift">PM</div>
			</div>
			<div class="to-do pull-left">
				<div class="title">Design Stand Up</div>
				<div class="subject">Hangouts</div>
				<div class="user-list clearfix">
					<div class="user pull-left"><img src="img/usr-i.png"></div>
					<div class="user pull-left"><img src="img/usr-ii.png"></div>
				</div>
			</div>
		</div>
	</div>
</div>