<div>
	<div class="top-head">
		<div class="name">Mohan Khadka</div>
		<div class="email">Thank u for watching</div>
	</div>
	<div class="nav-left">
		<a href="#/" ng-click="menuClick('welcome')">
			<span class="ion-ios-home-outline"></span> 首页
		</a>
		<a href="#/alarm" ng-click="menuClick('alarm')">
			<span class="ion-ios-list-outline"></span> 闹钟
		</a>
		<a href="#/compose" ng-click="menuClick('compose')">
			<span class="ion-ios-compose-outline"></span> 备忘录
		</a>
		<a href="#/chats" ng-click="menuClick('chats')">
			<span class="ion-ios-chatboxes-outline"></span> 通讯录
		</a>
		<a href="#/profile" ng-click="menuClick('profile')">
			<span class="ion-ios-person-outline"></span> 账户
		</a>
		<a href="#/settings" ng-click="menuClick('settings')">
			<span class="ion-ios-gear-outline"></span> 设置
		</a>
		<a href="#credits" ng-click="menuClick('credits')">
			<span class="ion-ios-information-outline"></span> 相关
		</a>
	</div>
</div>
