<div class="nav {{navActive}}">
	<a href="#profile" class="nav-item nav-count-1" ng-click="toggleNav()">
		<i class="ion-ios-person-outline"></i><span class="invisible">账户</span>
	</a>
	<a href="#compose" class="nav-item nav-count-2" ng-click="toggleNav()">
		<i class="ion-ios-compose-outline"></i><span class="invisible">备忘录</span>
	</a>
	<a href="#chats" class="nav-item nav-count-3" ng-click="toggleNav()">
		<i class="ion-ios-chatboxes-outline"></i><span class="invisible">通讯录</span>
	</a>
	<a href="#alarm" class="nav-item nav-count-4" ng-click="toggleNav()">
		<i class="ion-ios-alarm-outline"></i><span class="invisible">闹钟</span>
	</a>
	<a class="mask" ng-click="toggleNav()"><i class="ion-ios-plus-empty"></i></a>
</div>