<div class="html profile visible">
	<div class="photo flipInX animated">
		<img src="img/user.jpg">
		<div class="social">
			<a href="" class="soc-item soc-count-1"><span class="ion-social-facebook"></span></a>
			<a href="" class="soc-item soc-count-2"><span class="ion-social-twitter"></span></a>
			<a href="" class="soc-item soc-count-3"><span class="ion-social-github"></span></a>
			<a href="" class="soc-item soc-count-4"><span class="ion-social-pinterest"></span></a>
			<a href="" class="soc-item soc-count-5"><span class="ion-social-linkedin"></span></a>
			<a href="" class="soc-item soc-count-6"><span class="ion-social-codepen"></span></a>
			<a href="" class="soc-item soc-count-7"><span class="ion-social-skype"></span></a>
			<a href="" class="soc-item soc-count-8"><span class="ion-social-dribbble"></span></a>
		</div>
	</div>
	<div class="details">
		<p class="heading flipInY animated">
			<span class="name">MaYun</span><span class="position">Alibaba Boss</span>
		</p>
		<p class="text fadeInUp animated">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit veniam quisquam, rem illum dicta cumque, voluptate fugiat impedit beatae rerum ratione, voluptates nisi magni delectus ab.</p>
	</div>
</div>