<div class="html settings visible">
	<div class="setting-list">
		<div class="gear clearfix slideInRight animated">
			<div class="title pull-left">General</div>
			<div class="action pull-right"><span class="ion-ios-arrow-right"></span></div>
		</div>
		<div class="gear clearfix slideInLeft animated">
			<div class="title pull-left"><label for="gear-notice">Notification</label></div>
			<div class="action pull-right"><input id="gear-notice" class="on-off" type="checkbox"><label for="gear-notice"></label></div>
		</div>
		<div class="gear clearfix slideInRight animated">
			<div class="title pull-left"><label for="gear-sound">Sound</label></div>
			<div class="action pull-right"><input id="gear-sound" class="on-off" type="checkbox" checked><label for="gear-sound"></label></div>
		</div>
		<div class="gear clearfix slideInLeft animated">
			<div class="title pull-left">Theme</div>
			<div class="action pull-right">Standard <span class="ion-ios-arrow-right"></span></div>
		</div>
		<div class="gear clearfix slideInRight animated">
			<div class="title pull-left">Support</div>
			<div class="action pull-right"><span class="ion-ios-arrow-right"></span></div>
		</div>
		<div class="gear clearfix slideInLeft animated">
			<div class="title pull-left">Privacy</div>
			<div class="action pull-right"><span class="ion-ios-arrow-right"></span></div>
		</div>
	</div>
</div>